body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;

    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: grey;

    display: grid;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

#nav_buttons {
    display: flex;
    align-items: center;
}

#nav_buttons * {
    text-decoration: none;
    color: white;
    margin-right: 1em;
}

/*Messages*/

#messages article {
    padding: 0.8em;
}

#messages article.success {
    background-color: lightgreen;
}

#messages article.error {
    background-color: lightcoral;
}

/*Footer*/

footer {
    position: relative;
    top: 1em;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

/*Edit Profile*/

#profile_edit {
    text-align: center;
}

#profile_edit form {
    display: flex;
    flex-direction: column;
}

#profile_edit input {
    width: 20%;
    height: 2.5rem;
    margin: auto;
    margin-top: 1.5rem;

    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    padding-left: 0.5em;
}

#profile_edit button {
    width: 8%;
    height: 2rem;
    margin: auto;
    margin-top: 1.8rem;

    background-color: lightgrey;
    border-radius: 0.6em;

    cursor: pointer;
}

/*Button*/

button.special  {
    width: 8%;
    height: 2rem;
    margin: auto;
    margin-top: 1.8rem;
    margin-bottom: 2rem;

    background-color: lightblue;
    border-radius: 0.6em;

    border: 2px solid cadetblue;

    display: flex;
    justify-content: center;
}

button.special a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

/*FAQ*/

.faq_section h2 {
    text-align: center;
}

.faq_section p {
    font-size: 0.9rem;
    text-align: center;
}

.faq_section p a {
    font-weight: bold;
    color:cadetblue;
    text-decoration: none;
}

.faq_section dl dt {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: lightgrey;
    padding: 0.5rem;
    border-left: 5px solid cadetblue;
    margin: 1rem 6rem 0;
}

.faq_section dl dd {
    color: dimgray;
    background-color: gainsboro;
    padding: 0.5rem;
    border-left: 5px solid lightblue;
    margin: 0 6rem 1rem;
}

.faq_section form {
    display: flex;
    flex-direction: column;
}

.faq_section form input {
    width: 60%;
    height: 2.5rem;
    margin: auto;
    margin-bottom: 1.5rem;

    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    padding-left: 0.5em;
}

.faq_section form textarea {
    width: 60%;
    height: 5rem;
    margin: auto;
    margin-bottom: 1.5rem;

    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    padding-left: 0.5em;
    padding-top: 0.5em;
}

.faq_section button {
    width: 8%;
    height: 2rem;
    margin: auto;

    background-color: lightgrey;
    border-radius: 0.6em;

    cursor: pointer;
}

/*Ticket tables*/

.ticket_tables h2 {
    text-align: center;
}

.ticket_tables ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

    background-color: lightgrey;
    padding: 0.8rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.ticket_instance ul {
    background-color: gainsboro;
    width: 80%;
    margin: 0 auto;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.ticket_instance a ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}